<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;">
  <tbody>
    <tr>
      <td align="center" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding: 15px 0;">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
          <tbody>
            <tr>
              <td class="btn btn-primary" style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #337ab7; border-radius: 5px; text-align: center; padding: 0;">
                <a href="$Direkter_Link_zur_Störung$" target="_blank" style="display: inline-block; color: #ffffff; background-color: #337ab7; border: solid 1px #2e6da4; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #2e6da4;">zur Störungsmeldung</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
